HELP.md
BloknotParser/**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
#!**/src/main/**/*.properties


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### PythonApp ###
PythonApp/tomita_runnable/input.txt
PythonApp/tomita_runnable/output.xml
PythonApp/tomita_runnable/*.bin
**/__pycache__